body {
  @apply overscroll-none bg-transparent;
}

:root {
  --font-sans: var(--font-inter);
  --color-primary: rgb(239, 227, 203);
}

.theme-default,
.theme-default-scaled {
  --primary: var(--color-primary);
  --primary-foreground: var(--color-primary);
}
